header {
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.node {
  stroke: #fff;
  stroke-width: 2px;
}

.node.author {
  fill: grey;
}

.link {
  stroke: #0000aa;
  stroke-width: 1px;
}

.tooltip {
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  display: none;
  padding: 5px;
}

.tooltip.active {
  display: block;
}