.node {
    fill: #d2d2d2;
    stroke: #fff;
    stroke-width: 2px;
}
.link {
    stroke: #000;
    stroke-width: 2px;
}
button {
    position: absolute;
    width: 30px;
}
button#slow {
    margin-top: 28px;
}
button#play {
    margin-top: 54px;
}
button#reset {
    margin-top: 80px;
}